@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --font-s: Outfit;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: hsl(212, 45%, 89%);
  position: relative;
  height: 100vh;
}

div {
  background-color: white;
  margin: auto;
  width: 260px;
  text-align: center;
  border-radius: 15px;
  padding: 15px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  font-family: var(--font-s);
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

h3 {
  font-weight: 700;
  margin: 20px;
  color: hsl(218, 44%, 22%);
}

p {
  font-weight: 400;
  font-size: 15px;
  color: hsl(216, 15%, 48%);
  margin-bottom: 30px;
}
