@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey-700: hsl(0, 0%, 20%);
  --Grey-800: hsl(0, 0%, 12%);
  --Grey-900: hsl(0, 0%, 8%);

  --inter: "Inter";
}

* {
  margin: 0px;
  padding: 0px;
  font-family: var(--inter);
}

body {
  background-color: var(--Grey-900);
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: var(--Grey-800);
  text-align: center;
  padding: 20px;
  width: 350px;
  border-radius: 10px;
}

img {
  width: 80px;
  border-radius: 50%;
  margin: 15px 0px;
}

h1 {
  color: var(--White);
  font-size: 27px;
  margin: 10px 0px;
}

p {
  font-size: 14px;
}

p#loc {
  color: var(--Green);
  font-weight: bold;
}

p#job {
  color: var(--White);
  margin: 25px 0px;
}

ul {
  list-style-type: none;
}

ul li {
  color: var(--White);
  font-size: 14px;
  font-weight: bold;
  background-color: var(--Grey-700);
  width: 80%;
  margin: auto;
  margin-top: 15px;
  padding: 10px;
  border-radius: 7px;
}
ul li:hover {
  background-color: var(--Green);
  color: var(--Grey-900);
  cursor: pointer;
}
