@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: #fff;
  --black: #000;

  --font-s: Figtree;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: var(--font-s);
}

body {
  background-color: var(--yellow);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: var(--white);
  padding: 20px;
  border-radius: 20px;
  width: 300px;
  box-shadow: 10px 10px 0px var(--black);
}

div#learn {
  background-color: var(--yellow);
  width: 4rem;
  padding: 5px;
  border-radius: 5px;
  margin: 20px 0px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bolder;
}

h1 {
  font-size: 1.4rem;
  font-weight: 800;
  margin: 15px 0px;
}
a {
  text-decoration: none;
  color: var(--black);
}
a:hover {
  color: var(--yellow);
}

img {
  border-radius: 20px;
}

div#icon {
}
