@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --yellow: hsl(47, 88%, 63%);
  --grey: hsl(0, 0%, 42%);
  --white: #fff;
  --black: #000;

  --font-s: Figtree;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: var(--font-s);
}

body {
  background-color: var(--yellow);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 20px;
  padding: 20px;
  width: 320px;
  box-shadow: 10px 10px 0px var(--black);
}

figure {
  margin: auto;
}

img#illustration {
  width: 100%;
  border-radius: 10px;
}

div#learn {
  background-color: var(--yellow);
  width: 4rem;
  padding: 7px;
  border-radius: 5px;
  margin: 20px 0px 10px 0px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bolder;
}

p#publish {
  font-size: 0.8rem;
}

h1 {
  font-size: 1.4rem;
  font-weight: 800;
  margin: 15px 0px;
}
a {
  text-decoration: none;
  color: var(--black);
}
a:hover {
  color: var(--yellow);
}

p#info {
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--grey);
  margin: 0px 0px 25px 0px;
}

div#icon {
  display: inline-flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 800;
}

img#avatar {
  width: 30px;
  margin-right: 10px;
}
